.App {
box-sizing: border-box;
margin: 0;
padding: 0;
text-align: center;
}


.nav{
display: flex;
  background-color: rgb(196, 216, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}


.cadena{
 display: flex;
 padding: 2rem;
 padding-right: 1rem;
 padding-top: 4.5rem;
}
.cadena1{
  padding-right: 1rem;
}
.cadena2{
  padding-right: 1rem;
}


.logo{
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  display: flex;
  

}
.nombre{
  font-size: 2rem;
  display: flex;
  padding-left: 17rem;
  padding-right: 5rem;
  padding-top: 2rem;
}

.carrito{
  padding-left: 0.5rem;
  padding-top: 1rem;
}
  
.ItemDetailContainer{
  padding: 2rem;
  padding-left: 3rem;
}