.App {
box-sizing: border-box;
margin: 0;
padding: 0;
text-align: center;
}


.nav{
display: flex;
  background-color: rgb(196, 216, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}


.cadena{
 display: flex;
 padding: 2rem;
 padding-right: 1rem;
 padding-top: 4.5rem;
}
.cadena1{
  padding-right: 1rem;
}
.cadena2{
  padding-right: 1rem;
}


.logo{
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  display: flex;
  

}
.nombre{
  font-size: 2rem;
  display: flex;
  padding-left: 17rem;
  padding-right: 5rem;
  padding-top: 2rem;
}

.carrito{
  padding-left: 0.5rem;
  padding-top: 1rem;
}
  
.ItemDetailContainer{
  padding: 2rem;
  padding-left: 3rem;
}

.links{
  padding-top: 4rem;
}

.link1{
 
  display: inline-block;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #999;
}

.link2{
  display: inline-block;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2c822f;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #999;
}

.link3{

  display: inline-block;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #19611b;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #999;
}

.Option1{
  display: inline-block;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #999;
}
.foto{
  display: flex;
  padding: 2rem;
  padding-right: 1rem;
  padding-top: 4.5rem;
}
