.App {
box-sizing: border-box;
margin: 0;
padding: 0;
text-align: center;
}


.nav{
display: flex;
  background-color: rgb(196, 216, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}


.cadena{
 display: flex;
 padding: 2rem;
 padding-right: 1rem;
 padding-top: 4.5rem;

}
.cadena1{
  padding-right: 1rem;
}
.cadena2{
  padding-right: 1rem;
}


.logo{
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  display: flex;
  

}
.nombre{
  font-size: 2rem;
  display: flex;
  padding-left: 17rem;
  padding-right: 5rem;
  padding-top: 2rem;
}

.carrito{
  padding-left: 0.5rem;
  padding-top: 1rem;
}
  
.ItemDetailContainer{
  padding: 2rem;
  padding-left: 3rem;
}

.links{
  padding-top: 4rem;
}

.link1{
 
  display: inline-block;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #999;
}

.link2{
  display: inline-block;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2c822f;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #999;
}

.link3{

  display: inline-block;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #19611b;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #999;
}

.Option1{
  display: inline-block;
  padding: 15px 25px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #999;
}
.foto{
  display: flex;
  padding: 2rem;
  padding-right: 1rem;
  padding-top: 4.5rem;
}

.CartItem{
 padding-top: 2rem;
  ;

}

.infocart{
  padding: 1rem;
  text-align: center;
  max-width: 100%;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2)
  
}

.botoneliminar{
  background-color: #f15b10; 
    border: none;
    color: white;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
    width: 12%;
}

.cantidad{
  background-color: #166423; 
  border: none;
  color: white;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  width: 12%;
}

.Buttonl{
  padding: 2REM;
  background-color: #f15b10; 
  border: none;
  color: white;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  cursor: pointer;
  width: 12%;

}

.checkout{
  padding: 2rem;
  background-color: #110600; 
  border: none;
  color: white;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  cursor: pointer;
  width: 12%;
}

.botonoi{
  padding-top: 2rem;
}

.containerform{

  padding: 1rem;
  text-align: center;
  max-width: 100%;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2)
  
 
  
}
.form1{
  text-align: center;
  padding-left: 5rem;
  padding-top: 2rem;
}
.name{
  text-align: center;
  border: none;
  border-bottom: 2px solid rgb(81, 81, 81);
}

.tel{
  text-align: center;
  border: none;
  border-bottom: 2px solid rgb(81, 81, 81);
}

.mail{
  text-align: center;
  border: none;
  border-bottom: 2px solid rgb(81, 81, 81);
}

.submit1{
  padding: 2rem;
  background-color: #110600; 
  border: none;
  color: white;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 1px;
  cursor: pointer;
  width: 25%;
}


.footer {
  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(183, 181, 181);
  color: white;
  text-align: center;
}

fo1{
  padding-top: 5rem;
}