.ListGroup{
  
  
    max-width: 95vw;
    max-height: 55vh;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: 2rem;
    padding-bottom: 3rem;
    display: grid;
    

}
.CardItem{
    text-align: center;
    max-width: 98%;
    max-height: 100%;
    display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  border: 2px solid rgb(0, 0, 0);
    grid-column:33.3%;
    grid-row: 3;
    padding: -3rem;
    box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2);
    
}


.ItemFooter{

    border: none;
    text-align: center;
    outline: 0;
    padding: 1rem;
    color: white;
    background-color: #c7c7c7;
    text-align: center;
    cursor: pointer;
    max-width: 100vw;
    font-size: 18px;
}
